.global {
    -fx-background-color: #454862;
}


.title {
    -fx-font-size: 50px;
    -fx-font-family: "Bahnschrift";
    -fx-font-weight: bold;
    -fx-padding: 50px 15px 15px 15px;
}

.body {
    -fx-spacing: 30px;
    -fx-padding: 10px;
}

.button {
    -fx-font-size: 12px;
    -fx-background-color: #e1d9d9;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-alignment: center top;
    -fx-background-radius: 2px;
    -fx-font-family: default;
}

.button:hover {
    -fx-background-color: #cec7c7;
}