.global {
    -fx-background-color: #679436;
}

.title {
    -fx-font-size: 50px;
    -fx-font-family: "Bahnschrift";
    -fx-font-weight: bold;
    -fx-padding: 40px 35px 5px 5px;
    -fx-text-fill: #ebf2fa;
    -fx-min-width: 500px;
    -fx-max-width: 500px;
    -fx-alignment: center;
}

.box-label {
    -fx-alignment: center;
}

/* MENU BUTTON */

.box-button {
    -fx-min-width: 65px;
    -fx-max-width: 65px;
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-padding: 10px;
}

.home-button {
    -fx-background-color: #ebf2fa;
    -fx-font-size: 12px;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-min-width: 55px;
    -fx-max-width: 55px;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-background-radius: 2px;
}

/* BODY */

.button-biome {
    -fx-font-size: 12px;
    -fx-background-color: #ebf2fa;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-min-width: 100px;
    -fx-max-width: 100px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-alignment: center top;
    -fx-background-radius: 2px;
    -fx-font-family: default;
}

.button-biome:hover {
    -fx-background-color: #d5dce3;
}

.home-button:pressed {
    -fx-background-color: #cacccf;
    -fx-text-fill: #000000;
}

.body {
    -fx-padding: 10px;
    -fx-alignment: center;
    -fx-spacing: 15px;
    -fx-background-color: #679436;
}
