.global {
  -fx-background-color: #A98467;
}

/* HEADER */

.box-home-button {
  -fx-min-width: 65px;
  -fx-max-width: 65px;
  -fx-min-height: 40px;
  -fx-max-height: 40px;
  -fx-padding: 10px;
}

.home-button {
  -fx-background-color: #F0EAD2;
  -fx-font-size: 12px;
  -fx-text-fill: black;
  -fx-cursor: hand;
  -fx-min-width: 55px;
  -fx-max-width: 55px;
  -fx-min-height: 30px;
  -fx-max-height: 30px;
  -fx-background-radius: 2px;
}

.home-button:pressed {
  -fx-background-color: #EDE5BE;
  -fx-text-fill: #000000;
}

.box-title {
  -fx-alignment: center;
}

.title {
  -fx-font-size: 50px;
  -fx-font-family: "Bahnschrift";
  -fx-font-weight: bold;
  -fx-padding: 40px 35px 5px 5px;
  -fx-text-fill: #F0EAD2;
  -fx-min-width: 500px;
  -fx-max-width: 500px;
  -fx-alignment: center;
}

/* END HEADER */

/* BODY */

.body {
  -fx-padding: 10px;
  -fx-alignment: center;
  -fx-spacing: 0px;
  -fx-background-color: #A98467;
}

/* BIOMES BUTTONS */

.left-column-button {
  -fx-spacing: 10px;
  -fx-padding: 5px 5px 5px 80px;
}

.right-column-button {
  -fx-spacing: 10px;
  -fx-padding: 5px 80px 5px 5px;
}

.biome-button {
  -fx-background-color: transparent;
  -fx-cursor: hand;
  -fx-alignment: center center;
  -fx-background-radius: 2px;
  -fx-padding: 0px;
}

.label-biome-button {
  -fx-font-size: 12px;
  -fx-font-family: "Bahnschrift";
  -fx-text-fill: #F0EAD2;
}

/* END BIOMES BUTTONS */

/* SCROLL BAR */
.scroll-pane {
  -fx-background-color: transparent;
  -fx-background: transparent;
  -fx-border-width: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 0.0 10.0 0.0;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0.0em;
  -fx-padding: 0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
  -fx-shape: " ";
  -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color: derive(black, 90.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color: derive(#4D4C4F, 10.0%);
  -fx-background-insets: 2.0, 0.0, 0.0;
  -fx-background-radius: 2.0em;
}

/* END SCROLL BAR */

/* END BODY */