.global {
    -fx-background-color: #454862;
    -fx-padding: 0px;
}

/* HEADER */
.header {
    -fx-padding: 10px 10px 10px 30px;
    -fx-spacing: 80px;
}

/* PROGRESS BAR */
.progress-bar {
    -fx-padding: 0px;
    -fx-min-height: 25px;
    -fx-max-height: 25px;
    -fx-max-width: 500px;
    -fx-min-width: 500px;
}

/* MENU BUTTON */
.menu-button {
    -fx-font-size: 22px;
    -fx-background-color: #b9b9c5;
    -fx-text-fill: #474750;
    -fx-cursor: hand;
    -fx-min-width: 33px;
    -fx-min-height: 33px;
    -fx-max-width: 33px;
    -fx-max-height: 33px;
    -fx-alignment: top-center;
    -fx-background-radius: 2px;
}

.menu-button:hover {
    -fx-background-color: #cec7c7;
}

.menu-button:pressed {
    -fx-background-color: #b6b2b2;
    -fx-text-fill: white;
}

/* BODY */
.body {
    -fx-padding: 10px;
    -fx-alignment: top-center;
    -fx-spacing: 10px;
    -fx-background-color: #454862;
}

.right-column {
    -fx-background-color: transparent;
}

.left-column {
    -fx-background-color: transparent;
}

/* FOOTER */
.footer {
    -fx-padding: 10px;
    -fx-spacing: 100px;
}