.body {
    -fx-background-color: #b45555;
}
/* HEADER */

.header {
    -fx-padding: 10px;
    -fx-alignment: top-left;
    -fx-spacing: 100px;
}

/* PROGRESS BAR */

.progress-bar {
    -fx-padding: 0px;
    -fx-min-height: 35px;
}

/* MENU BUTTON */
.menu-button {
    -fx-font-size: 25px;
    -fx-background-color: #414141;
    -fx-text-fill: white;
    -fx-cursor: hand;
    -fx-min-width: 35px;
    -fx-min-height: 35px;
    -fx-max-width: 35px;
    -fx-max-height: 35px;
    -fx-alignment: top-center;
}

.menu-button:hover {
    -fx-background-color: #5a5a5a;
}

.menu-button:pressed {
    -fx-background-color: #2b2b2b;
}

.right-column {
    -fx-background-color: transparent;
}

.left-column {
    -fx-background-color: transparent;
}

