.button-style {
  -fx-font-size: 15px;
  -fx-background-color: #F0EAD2;
  -fx-font-family: "Bahnschrift";
  -fx-text-fill: black;
  -fx-cursor: hand;
  -fx-alignment: center center;
  -fx-background-radius: 2px;
  -fx-min-width: 100px;
  -fx-max-width: 100px;
}

.button-style:hover {
  -fx-background-color: #DBD6BF;
}

.box-button {
  -fx-padding: 280px 10px 10px 10px;
}
