.global {
  -fx-background-color: #679436;
  -fx-padding: 0px;
}

/* HEADER */

.header {
  -fx-padding: 5px;
}

.title {
  -fx-font-size: 50px;
  -fx-font-family: "Bahnschrift";
  -fx-font-weight: bold;
  -fx-padding: 40px 35px 10px 5px;
  -fx-text-fill: #ebf2fa;
  -fx-min-width: 500px;
  -fx-max-width: 500px;
  -fx-alignment: center;
}

/* MENU BUTTON */

.label {
  -fx-text-fill: #ebf2fa;
  -fx-font-weight: bold;

}

.box-button {
  -fx-min-width: 65px;
  -fx-max-width: 65px;
  -fx-min-height: 40px;
  -fx-max-height: 40px;
  -fx-padding: 10px;
}

.home-button {
  -fx-background-color: #ebf2fa;
  -fx-font-size: 12px;
  -fx-text-fill: black;
  -fx-cursor: hand;
  -fx-min-width: 55px;
  -fx-max-width: 55px;
  -fx-min-height: 30px;
  -fx-max-height: 30px;
  -fx-background-radius: 2px;
}

.home-button:hover {
  -fx-background-color: #d5dce3;
}

.home-button:pressed {
  -fx-background-color: #cacccf;
  -fx-text-fill: #000000;
}

.box-label {
  -fx-alignment: center;
}

.box-progressbar {
  -fx-padding: 10px 10px 10px 20px;
  -fx-spacing: 10px;
  -fx-alignment: bottom-center;
}

.box-sub-progressbar {
  -fx-padding: 10px 10px 10px 70px;
  -fx-spacing: 10px;
  -fx-alignment: bottom-center;
}

.label-percentage {
  -fx-padding: 5px;
  -fx-font-weight: bold;
  -fx-alignment: center;
  -fx-min-width: 60px;
  -fx-max-width: 60px;
}

.progress-bar {
  -fx-padding: 0px;
  -fx-min-height: 25px;
  -fx-max-height: 25px;
  -fx-max-width: 550px;
  -fx-min-width: 300px;
  -fx-accent: #05668d;
}

.sub-progress-bar {
  -fx-padding: 0px;
  -fx-min-height: 25px;
  -fx-max-height: 25px;
  -fx-max-width: 550px;
  -fx-min-width: 300px;
  -fx-accent: #427aa1;
  -fx-border-width: 0px;
}

.sub-title {
  -fx-font-size: 25px;
  -fx-font-family: "Bahnschrift";
  -fx-font-weight: bold;
  -fx-padding: 10px;
  -fx-text-fill: #ebf2fa;
  -fx-min-width: 250px;
  -fx-max-width: 250px;
  -fx-alignment: center;
}

.label-data {
  -fx-font-size: 12px;
  -fx-font-family: "Bahnschrift";
  -fx-padding: 5px 5px 5px 80px;
  -fx-text-fill: #ebf2fa;
  -fx-min-width: 500px;
  -fx-max-width: 500px;
  -fx-alignment: center-left;
}

.scroll-pane {
  -fx-background-color: transparent;
  -fx-background: transparent;
  -fx-border-width: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
  -fx-background-color :transparent;
  -fx-border-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
  -fx-background-color :transparent;
  -fx-background-radius : 0.0em;
  -fx-padding :0.0 10.0 0.0 0.0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
  -fx-shape : " ";
  -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
  -fx-background-color :derive(black,90.0%);
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
  -fx-background-color :derive(#4D4C4F,10.0%);
  -fx-background-insets : 2.0, 0.0, 0.0;
  -fx-background-radius : 2.0em;
}

.body {
  -fx-spacing: 5px;
  -fx-padding: 20px 5px;
  /*-fx-min-height: 200px;*/
  /*-fx-max-height: 200px;*/
  -fx-background-color: #679436;
}

/* FOOTER */
.footer {
  -fx-padding: 10px;
  -fx-spacing: 100px;
}